---
title: "About Me"
type: text
---
- content_for(:title) { title( current_page.metadata[:page]['title'] ) }
- content_for(:hero) { current_page.metadata[:page]['title'] }

%article

  .row
    .column.medium-3= image_tag 'portraits/katusha.jpg'
      
    .column.medium-9
    
      :markdown

        I am a fullstack web developer. In the early years of my career I worked with Borland C++ solidly, building Windows applications and services. These days, however, I create websites with [Ruby](http://www.ruby-lang.org/en/) based backend frameworks such as [Ruby on Rails](http://rubyonrails.org/), [Padrino](http://www.padrinorb.com/) or [Middleman](http://www.middlemanapp.com). Previous to this I developed in [asp.net](http://www.asp.net/) but jumped ship to the dynamic, open source world about three years ago as I found it much more productive and fun.

        I'm also accomplished in front end work and consider myself highly proficient in JavaScript/[CoffeeScript](http://coffeescript.org), [Angular.js](https://angularjs.org) and CSS/SASS. I appreciate good design and type even if I'm hopeless at actual designing.

        I am a super keen cyclist and ride with legendarily enlightened and progressive outfit [Leningrad Velo](http://leningrad-velo.herokuapp.com)
        
        I'm interested in history, world affairs, free markets and opera dilettantism.