---
title: "Mark Holland"
pageable: true
per_page: 10
layout: blog
---

- content_for(:hero) { current_page.metadata[:page]['title'] }

- if paginate && prev_page
  .panel.radius.muted.text-center Page #{ page_number } of #{ num_pages }
  
- page_articles.each do |article|
  = partial 'partials/blog_post_summary', :locals => { :article => article }
  %hr.headroom

- if paginate
  = partial 'partials/paginator', :locals => { :prev_page => prev_page, :next_page => next_page, :num_pages => num_pages, :page_number => page_number }

