---
  layout: portfolio
  title: Portfolio
---

- content_for(:title) { title current_page.data.title, portfolio_item.name }
- content_for(:hero) { current_page.data.title }

%article
  %h1.text-center= link_to portfolio_item.name, current_page
  :markdown
    #{ portfolio_item.text }
    
%hr.headroom

.text-center    
  = link_to ' ↑ Portfolio', '/portfolio.html', :class => 'button secondary small'